$main:#033f86 !default; 
$white:#fff !default; //text
$light-blue:#b2c3d7 !default; //text-hover
$orange:#edad53 !default;
$red: #b01e53 !default; //
$black: #323641 !default;

h1 {
  color: $white;
}

h3 {
  color: $light-blue;
}
